<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <table border="1">
      <tr>
        <td>Tipo Reclamo</td>
        <td>Observacion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <td><%= reclamo.tipoReclamo %></td>
        <td><%= reclamo.observacion %></td>
        <td><%= reclamo.fecha %></td>
      </tr>
    </table>
  </body>
</html>
